@{
    ViewBag.Title = "Game";
}
<h2 id ="yourName">Stormies!!!</h2>
<div class="container">
    <input type="text" id="playerName" />
    <input type="button" id="joinGame" value="Join" />
    <ul id="players"></ul>
</div>


@section scripts {
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="../../Scripts/phaser.js"></script>
    <script src="/signalr/hubs"></script>

    <script type="text/javascript">

        window.onload = function () {
            var game = new Phaser.Game(800, 600, Phaser.AUTO, '', { preload: preload, create: create });

            function preload() {
                game.load.image('logo', '../../Images/phaser.png');
            }

            function create() {
                var logo = game.add.sprite(game.world.centerX, game.world.centerY, 'logo');
                logo.anchor.setTo(0.5, 0.5);
            }
        };

    </script>

    <script>
        $(function () {

            var game = $.connection.chatHub;

            game.client.updateGameState = function (gameState) {
                $('#players').empty();
                $('#yourName').empty();
                $('#yourName').append(htmlEncode("Stormies!!!"));
                gameState.Players.forEach(function (player) {
                    if (player.Ip === '@Request.UserHostAddress') {
                        $('#yourName').append(htmlEncode(" Hello " + player.Name));
                    }
                    $('#players').append('<li>' + htmlEncode(player.Name) + " " + htmlEncode(player.Ip) + '</li>');
                });
            };

            game.client.passErrorMessage = function (message) {
                alert(message);
            };

            $('#message').focus();

            $.connection.hub.start().done(function () {
                $('#joinGame').click(function () {
                    game.server.joinRequest($('#playerName').val(), '@Request.UserHostAddress');
                });
                $(document).ready(function () {
                    game.server.getGameState();
                });
                $(window).bind('beforeunload', function () {
                    game.server.leaveRequest('@Request.UserHostAddress');
                });
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}