@{
    ViewBag.Title = "Stormies";
}

<head>
    <title>Stormies</title>
    <link rel="stylesheet" type="text/css" href="../../Content/themes/mine/canvas.css">
</head>

<img src="../../Images/Stormies.png" alt="Stormies" height="100" width="600">

<body style="background: black">

    <div class="container" style="background: black">
        <input type="text" id="playerName" />
        <input type="button" id="joinGame" value="Join"/>
        <div style="color: white" id="yourHealth"></div>
        <ul style ="color: white" id="players"></ul>
    </div>

    @section scripts {
        <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script src="../../Scripts/phaser.js"></script>
        <script src="../../Scripts/Game/game.js"></script>
        <script src="/signalr/hubs"></script>
    }

</body>