@{
    ViewBag.Title = "Stormies";
}

<head>
    <title>Stormies</title>
    <link rel="stylesheet" type="text/css" href="../../Content/themes/mine/canvas.css">
</head>

<img src="../../Images/Stormies.png" alt="Stormies" height="100" width="600">

<body style="background: black">

    <div class="popup">
        <div class="bg"></div>
        <div class="container">
            <div class="content">
                Enter your name: 
                <br/>
                <input type="text" id="playerName" value="Unnamed"/>
                <br/>
                Choose your class: 
                <br/>
                <form id="playerCharacterClass">
                    <input type="radio" name="characterClass" value="warrior" checked>Warrior
                    <br>
                    <input type="radio" name="characterClass" value="mage">Mage
                </form>
                <input type="button" id="joinGame" value="Join"/>
            </div>
        </div>
    </div>


<div>
    <div id="game-area" style="float: left"></div>
    <div id="player-list" style="float: left">
        <ul style="color: white" id="players"></ul>
    </div>
</div>

@section scripts {
        <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script src="../../Scripts/phaser.js"></script>
        <script src="../../Scripts/Game/game.js"></script>
        <script src="/signalr/hubs"></script>
    }

</body>